@import 'variables';

#my-accordion
{
    box-shadow : 0 2px 3px rgba(0, 0, 0, 2);

    i
    {
        color      : $blue;
        font-size  : 26px;
        margin     : 10px $common_spacer 0 $common_spacer;
        position   : absolute;
        right      : 0;
        transition : $speed;
    }

    h1
    {
        background-color : white;
        border-bottom    : 1px solid #e4e6e5;
        box-shadow       : $shadow;
        color            : $dark_gray;
        font-size        : 18px;
        height           : 60px;
        line-height      : 60px;
        margin           : 0;
        padding          : 0 $common_spacer;
        white-space      : nowrap;
    }

    div.panels-wrapper
    {
        .panel
        {
            background-color : white;
            border-bottom    : 1px solid #e4e6e5;
            box-shadow       : $shadow;
            cursor           : pointer;
            min-height       : 50px;
            overflow         : hidden;
            padding          : 0 $common_spacer;
            position         : relative;
            transition       : all $speed ease-out;

            h2
            {
                color         : $blue;
                font-size     : 14px;
                margin-bottom : 12px;
            }

            h3
            {
                color     : #999;
                font-size : 12px;
            }

            p
            {
                color      : $dark_gray;
                font-size  : 13px;
                height     : 0;
                margin     : 0;
                opacity    : 0;
                overflow   : hidden;
                transition : all $speed ease-out;
            }
        }

        .active
        {
            box-shadow : $shadow;
            margin     : $extra_spacer 0;
            transition : margin $speed linear;

            i
            {
                transform  : rotate(180deg);
                transition : .70s;
            }

            h3,
            p
            {
                height        : auto;
                margin-bottom : $common_spacer;
                opacity       : 1;
                transition    : all $speed ease-out;
            }
        }
    }
}